<html style="background-color: rgb(86, 158, 158);">
    <p>
        <a href="/">Back to homepage</a>
    </p>

    <h4>This is a Submit Recipe Form</h4>

    Logged in as: 
    {% if request.user.is_staff %}
        ADMIN - {{request.user}}
    {% else %}
        {{request.user}}
    {% endif %}

    {% if not request.user.is_staff %}
        <div>Can only be authored as yourself</div>
    {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ formKey.as_p}}
            <input type="submit" value="Submit">
        </form>

</html>
